body {
  margin:0;
  padding:0;
  width:100%;
  color:#929292;
  font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}
.main-body {
  margin-top: 0;
  background:url(../images/body_bg.png);
}
html, .main {
  padding:0;
  margin:0;
}
.main {
  background:url(../images/header_bg.jpg) repeat-x left top;
  padding-top: 2.5%;
  padding-bottom: 5%;
}
.clr {
  clear:both;
  padding:0;
  margin:0;
  width:100%;
  font-size:0;
  line-height:0;
}
h2 {
  margin:8px 0;
  padding:8px 0;
  font-size:25px;
  font-weight:normal;
  color:#3f3f3f;
}
p {
  margin:8px 0;
  padding:0 0 8px 0;
}
a {
  color:#292927;
  text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
  margin:0;
  padding:0;
}
.header {
}
.header_resize {
  margin:0 auto;
  padding:0;
  width:960px;
}
.logo {
  margin:0;
  padding:0;
  float:none;
  height:114px;
}
h1 {
  margin:0;
  padding:26px 0 0;
  font-size:60px;
  font-weight:normal;
  line-height:1.2em;
  text-transform:none;
  text-align:center;
}
h1 a, h1 a:hover {
  color:#cdcdcd;
  text-decoration:none;
}
h1 span {
  color:#fff;
}
h1 small {
  display:none;
  margin:0;
  font-size:18px;
  font-weight:normal;
  line-height:1.2em;
  letter-spacing:normal;
  text-transform:none;
  color:#585858;
}
.menu_nav {
  margin:0 auto;
  padding:0;
  height:62px;
}
.menu_nav ul {
  list-style:none;
  padding:0;
  height:62px;
  float:none;
}
.menu_nav ul li {
  margin:0;
  padding:0;
  float:left;
}
.menu_nav ul li a {
  display:block;
  margin:0;
  padding:22px 0 0;
  width:192px;
  height:40px;
  font-size:20px;
  line-height:26px;
  font-weight:normal;
  color:#fff;
  text-decoration:none;
  text-transform:none;
  text-align:center;
  background:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
  text-decoration:none;
  color:#fff;
  background:repeat-x left top;
}
a {
  outline:none;
}